 .u-section-1 {
  background-image: none;
  min-height: 1169px;
}

.u-section-1 .u-line-1 {
  width: 271px;
  height: 2px;
  margin: 206px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 565px);
  min-height: 1060px;
  height: auto;
  margin: -210px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: -994px calc(((100% - 1140px) / 2)  + 730px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-link-1 {
  text-transform: uppercase;
  padding-bottom: 2px;
  letter-spacing: 1px;
  border-style: solid;
  margin: 76px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-products-1 {
  width: 1140px;
  margin: 38px auto 41px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 742px;
  --gap: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 250px;
  width: 250px;
  --radius: 25px;
  margin: 51px 285px 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 10px;
  border-style: solid;
  margin: -265px 267px 0 239px;
  padding: 3px 0;
}

.u-section-1 .u-group-2 {
  min-height: 297px;
  width: 267px;
  height: auto;
  margin: -3px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 3px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 9px 10px 0;
}

.u-section-1 .u-text-4 {
  margin: 10px 10px 0;
}

.u-section-1 .u-product-price-1 {
  margin: 92px 33px 0 111px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 14px;
  font-weight: 700;
  margin: 0 17px 0 auto;
  padding: 1px 17px 2px 16px;
}

.u-section-1 .u-icon-1 {
  margin-right: 11px;
  vertical-align: 0px;
  font-size: 1.3126em;
}

.u-section-1 .u-product-category-1 {
  margin: -336px 98px 0 396px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 250px;
  width: 250px;
  --radius: 25px;
  margin: 51px 285px 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 10px;
  border-style: solid;
  margin: -265px 267px 0 239px;
  padding: 3px 0;
}

.u-section-1 .u-group-3 {
  min-height: 297px;
  width: 267px;
  height: auto;
  margin: -3px 0 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 3px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 9px 10px 0;
}

.u-section-1 .u-text-7 {
  margin: 10px 10px 0;
}

.u-section-1 .u-product-price-2 {
  margin: 92px 33px 0 111px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  --radius: 14px;
  font-weight: 700;
  margin: 0 17px 0 auto;
  padding: 1px 17px 2px 16px;
}

.u-section-1 .u-icon-2 {
  vertical-align: 0px;
  font-size: 1.3126em;
  margin-right: 11px;
}

.u-section-1 .u-product-category-2 {
  margin: -336px 98px 0 396px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 250px;
  width: 250px;
  --radius: 25px;
  margin: 51px 285px 0 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 10px;
  border-style: solid;
  margin: -265px 267px 0 239px;
  padding: 3px 0;
}

.u-section-1 .u-group-4 {
  min-height: 297px;
  width: 267px;
  height: auto;
  margin: -3px 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 3px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 9px 10px 0;
}

.u-section-1 .u-text-10 {
  margin: 10px 10px 0;
}

.u-section-1 .u-product-price-3 {
  margin: 92px 33px 0 111px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  --radius: 14px;
  font-weight: 700;
  margin: 0 17px 0 auto;
  padding: 1px 17px 2px 16px;
}

.u-section-1 .u-icon-3 {
  vertical-align: 0px;
  font-size: 1.3126em;
  margin-right: 11px;
}

.u-section-1 .u-product-category-3 {
  margin: -336px 98px 0 396px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 250px;
  width: 250px;
  --radius: 25px;
  margin: 51px 285px 0 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 10px;
  border-style: solid;
  margin: -265px 267px 0 239px;
  padding: 3px 0;
}

.u-section-1 .u-group-5 {
  min-height: 297px;
  width: 267px;
  height: auto;
  margin: -3px 0 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 0 3px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: 9px 10px 0;
}

.u-section-1 .u-text-13 {
  margin: 10px 10px 0;
}

.u-section-1 .u-product-price-4 {
  margin: 92px 33px 0 111px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  --radius: 14px;
  font-weight: 700;
  margin: 0 17px 0 auto;
  padding: 1px 17px 2px 16px;
}

.u-section-1 .u-icon-4 {
  vertical-align: 0px;
  font-size: 1.3126em;
  margin-right: 11px;
}

.u-section-1 .u-product-category-4 {
  margin: -336px 98px 0 396px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1004px;
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 565px);
    min-height: 1004px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -938px;
    margin-right: calc(((100% - 940px) / 2) + 530px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-link-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-products-1 {
    width: 940px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 10px;
    min-height: 612px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 167px;
    margin-left: 139px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    --color-var: #7e2aad;
    --hover-color-var: #c463d2;
    --radius: 15px;
    border-style: solid;
    padding: 9px 13px 11px 12px;
  }

  .u-section-1 .u-product-category-1 {
    margin-right: 0;
    margin-left: 295px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 167px;
    margin-left: 139px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-btn-2 {
    --radius: 15px;
    border-style: solid;
    padding: 9px 13px 11px 12px;
  }

  .u-section-1 .u-product-category-2 {
    margin-right: 0;
    margin-left: 295px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 167px;
    margin-left: 139px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-btn-3 {
    --radius: 15px;
    border-style: solid;
    padding: 9px 13px 11px 12px;
  }

  .u-section-1 .u-product-category-3 {
    margin-right: 0;
    margin-left: 295px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 167px;
    margin-left: 139px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-btn-4 {
    --radius: 15px;
    border-style: solid;
    padding: 9px 13px 11px 12px;
  }

  .u-section-1 .u-product-category-4 {
    margin-right: 0;
    margin-left: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 565px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 720px) / 2) + 310px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-link-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-products-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 57px;
    margin-left: 29px;
  }

  .u-section-1 .u-product-category-1 {
    margin-left: 75px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 57px;
    margin-left: 29px;
  }

  .u-section-1 .u-product-category-2 {
    margin-left: 75px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 57px;
    margin-left: 29px;
  }

  .u-section-1 .u-product-category-3 {
    margin-left: 75px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 57px;
    margin-left: 29px;
  }

  .u-section-1 .u-product-category-4 {
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 130px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-link-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-products-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    margin-right: 273px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-product-category-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 273px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-product-category-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 273px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-product-category-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-right: 273px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-product-category-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2434px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 131px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    min-height: 1240px;
    margin-top: -135px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -1198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-link-1 {
    margin-top: 25px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-products-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2093px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 280px;
    width: 280px;
    margin-top: 0;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -269px;
    margin-right: -13px;
    margin-left: 275px;
  }

  .u-section-1 .u-group-2 {
    min-height: 188px;
    margin-top: 249px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-1 .u-product-category-1 {
    margin-top: -52px;
    margin-right: 262px;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 280px;
    width: 280px;
    margin-top: 0;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -269px;
    margin-right: -13px;
    margin-left: 275px;
  }

  .u-section-1 .u-group-3 {
    min-height: 188px;
    margin-top: 249px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-product-price-2 {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-1 .u-product-category-2 {
    margin-top: -52px;
    margin-right: 262px;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 280px;
    width: 280px;
    margin-top: 0;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -269px;
    margin-right: -13px;
    margin-left: 275px;
  }

  .u-section-1 .u-group-4 {
    min-height: 188px;
    margin-top: 249px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-product-price-3 {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-1 .u-product-category-3 {
    margin-top: -52px;
    margin-right: 262px;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 280px;
    width: 280px;
    margin-top: 0;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -269px;
    margin-right: -13px;
    margin-left: 275px;
  }

  .u-section-1 .u-group-5 {
    min-height: 188px;
    margin-top: 249px;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-product-price-4 {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-1 .u-product-category-4 {
    margin-top: -52px;
    margin-right: 262px;
    margin-left: 15px;
  }
}