.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: #0ebae0!important;
  border-color: var(--bs-blue)!important;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: #0ebae0;
  border-color: var(--bs-blue);
}

.btn {
  color: var(--bs-primary-bg-subtle);
  background-color: var(--bs-dark-text-emphasis);
  border-color: var(--bs-light);
}

body:before, .hero:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  height: 50%;
  opacity: .5;
  background: var(--bs-gray-900) no-repeat 0 90%/cover;
  -webkit-mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.013) 8.1%, rgba(0, 0, 0, 0.049) 15.5%, rgba(0, 0, 0, 0.104) 22.5%, rgba(0, 0, 0, 0.175) 29%, rgba(0, 0, 0, 0.259) 35.3%, rgba(0, 0, 0, 0.352) 41.2%, rgba(0, 0, 0, 0.45) 47.1%, rgba(0, 0, 0, 0.55) 52.9%, rgba(0, 0, 0, 0.648) 58.8%, rgba(0, 0, 0, 0.741) 64.7%, rgba(0, 0, 0, 0.825) 71%, rgba(0, 0, 0, 0.896) 77.5%, rgba(0, 0, 0, 0.951) 84.5%, rgba(0, 0, 0, 0.987) 91.9%, #000);
  mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.013) 8.1%, rgba(0, 0, 0, 0.049) 15.5%, rgba(0, 0, 0, 0.104) 22.5%, rgba(0, 0, 0, 0.175) 29%, rgba(0, 0, 0, 0.259) 35.3%, rgba(0, 0, 0, 0.352) 41.2%, rgba(0, 0, 0, 0.45) 47.1%, rgba(0, 0, 0, 0.55) 52.9%, rgba(0, 0, 0, 0.648) 58.8%, rgba(0, 0, 0, 0.741) 64.7%, rgba(0, 0, 0, 0.825) 71%, rgba(0, 0, 0, 0.896) 77.5%, rgba(0, 0, 0, 0.951) 84.5%, rgba(0, 0, 0, 0.987) 91.9%, #000);
}

.reflow-product-list .ref-image, .reflow-product-list.ref-cards .ref-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.reflow-product-list.ref-cards .ref-image {
  border: solid;
  border-color: rgba(177,138,51,0);
  border-radius: 15px;
  border-width: 1px;
}

.reflow-product-list.ref-cards .ref-product .ref-media {
  margin: 0 0 var(--ref-gutter-md) 0;
  justify-content: center;
}

.reflow-product-list .ref-media, .reflow-product-list.ref-cards .ref-media {
  position: relative;
  width: 100%;
}

.reflow-product .ref-media .ref-promo-badge, .reflow-product-list .ref-media .ref-promo-badge, .reflow-product .ref-media .ref-sale-badge, .reflow-product-list .ref-media .ref-sale-badge {
  position: absolute;
  pointer-events: none;
  background-color: rgb(0,0,0);
  color: #d2ca7d;
  font-weight: bold;
  font-size: 0.8em;
  /*padding: .2em .7em;*/
  border-radius: var(--ref-border-radius);
  border: solid;
  border-width: thin;
  text-transform: uppercase;
  font-family: 'Inter';
  color: #f4cf7d;
}

.reflow-product-list .ref-product .ref-name {
  font-size: 1.1em;
  padding-right: 2em;
  color: #f4cf7d;
  color: #f4cf7d;
  background-image: linear-gradient(180deg, #f4cf7d 27%, #f4cf7d 78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;;
}

.reflow-product-list .ref-product .ref-price {
  font-size: 1.2rem;
  font-family: var(--bs-body-font-family);
  margin: 0;
}

p:not(.lead), small, .small, input, textarea {
  /*font-family: "Inter";*/
  /*display: none;*/
}

.reflow-product-list.ref-cards .ref-product .ref-name, .reflow-product-list.ref-cards .ref-product .ref-price {
  font-weight: normal;
  font-family: 'Alkatra';
  padding-left: 0.4em;
}

.reflow-product-list.ref-cards .ref-product .ref-excerpt, .reflow-product-list.ref-cards .ref-product .ref-price {
  color: #f4cf7d;
  font-weight: bold;
  font-family: initial;
  background-color: rgb(0,0,0);
  padding-right: 8px;
  border: solid;
  border-width: thin;
  border-radius: 9px;
  overflow: visible;
  align-items: center;
  align-self: center;
}

.reflow-category-list.ref-horizontal-bar {
  background-color: rgba(29,29,29,0);
  padding: 5px;
}

@media (min-width: 1200px) {
  .reflow-product .ref-media .ref-preview .ref-image {
    height: 100%;
  }
}

.reflow-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ref-image {
  aspect-ratio: 1/1!important;
  border: solid;
  border-width: 3px;
  border-color: var(--bs-primary);
}

.reflow-cart-toggler:before {
  content: attr(data-reflow-count);
  position: absolute;
  right: 3px;
  background: var(--ref-warning);
  border-radius: 1em;
  color: #fff;
  font-size: .7em;
  padding: .2em .5em .2em .4em;
  line-height: 1;
  transform: translate(4%,-63%);
  visibility: hidden;
  top: 0.9em;
}

.reflow-category-list.ref-horizontal-bar a:hover {
  color: var(--ref-primary);
}

.reflow-category-list.ref-horizontal-bar a {
  text-decoration: none;
  color: #CFC09F;
  background-image: linear-gradient(180deg, #CFC09F 27%, #FFECB3 40%, #997328 78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .lead, .navbar-brand, .blockquote p, .blockquote:before {
  font-family: var(--bs-font-family-heading);
  color: #f4cf7d;
  background-image: linear-gradient(180deg, #f4cf7d 27%, #f4cf7d 78%);
  background-clip: text;
  -webkit-background-clip: text;
}

.reflow-product .ref-category {
  font-size: .75em;
  color: var(--ref-gray);
  text-decoration: none;
  color: #f4cf7d;
  background-image: linear-gradient(180deg, #f4cf7d 27%, #f4cf7d 78%);
  background-clip: text;
  -webkit-background-clip: text;
}

.reflow-product .ref-price.ref-on-sale, .reflow-product-list .ref-price.ref-on-sale {
  color: #f4cf7d;
}

.ref-original-price {
  color: var(--ref-body-color);
  margin-right: 10px;
}

.has-quantity.reflow-cart-toggler.has-summary {
  margin-left: 13px;
  font-size: 0.7em;
  text-align: start;
}

.ref-summary .ref-product .ref-product-name {
  color: #f4cf7d;
  font-size: 16px;
}

.ref-product-total {
  color: #ffffff;
}

.ref-summary .ref-product .ref-product-remove {
  color: #ff8743;
}

.ref-summary .ref-subtotal .ref-row {
  color: #ffffff;
}

.ref-summary .ref-shipping-taxes {
  color: var(--bs-warning-bg-subtle);
}

.ref-summary-header {
  color: #ffffff;
}

.ref-summary-header .ref-summary-title {
  color: #ffffff;
  font-size: 55px;
}

.ref-summary.open {
  opacity: 0.9;
  border-radius: 20px 0 20px 0;
  background-color: #1d1d1d;
  margin-top: 12px;
  margin-bottom: 12px;
  border-color: #f4cf7d;
  border-width: 2px;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgb(29,29,29)!important;
}

.accordion-button {
  border: 1px solid #f4cf7d;
  border-radius: var(--bs-accordion-border-radius);
}

